// colors
$ghost-white: #fcfdff;
$mystic: #dae4eb;
$gunmetal: #2a3744;
$smoky-black: #0a0908;

// cc map
$colors:(
  default:(
    bg: $ghost-white,
    txt: $smoky-black,
    primary: $gunmetal,
    border: $mystic,
    shadow: $smoky-black,
    overlay: $gunmetal,
    selection: rgba($gunmetal, .33)
  ),

  alt:(
    txt: $gunmetal,
    bg: $mystic,
    border: $gunmetal
  ),

  inv:(
    txt: $ghost-white
  )
);
