// colors
$ghost-white: #fcfdff;
$mystic: #dae4eb;
$gunmetal: #2a3744;
$smoky-black: #0a0908;
$mustard: #ffc857;


// cc map
$colors:(
  default:(
    bg: $ghost-white,
    txt: $smoky-black,
    primary: $mustard,
    border: $mystic,
    selection: rgba($gunmetal, .33)
  ),

  alt:(
    txt: $gunmetal,
    border: $gunmetal
  )
);
