body {
  @extend %txt--body;
  position: relative;
  color: cc(txt);
  background-color: cc(bg);

  &.noscroll {
    height: 100vh;
    overflow: hidden;
  }

  ::selection {
    background-color: cc(selection);
  }
}
