.blog {
  padding-top: 8.5rem;

  &__feed {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 0 4rem;
  }

  &__post {
    width: calc(100% / 3 - 5rem);
    margin: 2.5rem;
  }
}
