.nav {
  position: fixed;
  top: 0;
  left: 50%;
  width: calc(100% - 10rem);
  padding: 1.75rem 1.5rem 1.25rem;
  border-bottom: 1px solid cc(border);
  background-color: cc(bg, .975);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  transform: translate(-50%);
  z-index: 1;

  &__title {
    @extend %txt--banner;
    color: cc(txt, alt);
  }

  &__item {
    cursor: pointer;
    display: inline-block;
    position: relative;
    padding: .125rem .25rem;
    user-select: none;
    white-space: nowrap;
    z-index: 0;
    transition: all 250ms cb();

    &+& {
      margin-left: .75rem;
    }

    &-enter,
    &-leave-to {
      opacity: 0;
      transform: translate3d(2.5rem, 0, 0);
    }

    &-leave-active {
      position: absolute;
    }
  }
}
