.post {
  padding: 10rem 5.5rem 5rem 0;
  background-color: cc(bg);
  transform: translate3d(0, 0, 0);

  &-enter-active { transition: all 550ms cb() 225ms }
  &-leave-active { transition: all 350ms cb() }

  &-enter,
  &-leave-to {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  // &-leave,
  // &-enter-to {
  //   opacity: 1;
  //   transform: translate3d(0, 0, 0);
  // }

  &__header {
    padding: 0 1.25rem 1.25rem;
    border-bottom: 1px solid cc(border);
  }

  &__title {
    @extend %txt--title;
    color: cc(txt, alt);
    margin-bottom: .75rem;
  }

  &__body {
    padding: 0 1.25rem 2.5rem;
    border-bottom: 1px solid cc(border);
  }

  &__subtitle {
    @extend %txt--subtitle;
    margin: 2.5rem 0;
    padding-left: 1.25rem;
    padding-right: 5rem;
  }

  &__author {
    @extend %ff--500;
    text-decoration: underline;
  }

  &__footer {
    margin-top: 3.75rem;
    padding: 0 1.25rem;
  }

  &__dash {
    display: inline-block;
    margin: 0 .5rem;
  }
}
