.preview {
  display: flex;
  align-items: stretch;
  min-height: 30vw;

  &__figure {
    position: relative;
    flex-grow: 1;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 33%;
      background-image: linear-gradient(to bottom, cc(shadow, .33), transparent);
    }
  }

  &__title {
    @extend %txt--preview;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: .75rem;
    color: cc(txt, inv);
  }

  &__details {
    position: relative;
    white-space: nowrap;
  }

  &__meta {
    position: absolute;
    bottom: 0;
    right: 100%;
    height: 1.5rem;
    padding: 0 .5rem;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    transform: rotate(90deg);
    transform-origin: 100% 100%;

    &::before {
      content: 'by';
      padding-right: .5em;
    }
  }

  &__published::before {
    content: '—';
    padding: 0 .75em;
  }
}
