.preview {
  position: relative;
  margin: 1.25rem 1.25rem 5rem;
  z-index: 0;
  @include imagePlaceholder;

  @media (--tablet) {
    width: calc(50% - 2.5rem);
    margin: 1.25rem 1.25rem 2.5rem;
  }

  @media (--laptop) {
    width: calc(100% / 3 - 2.5rem);
  }

  @media (--desktop) {
    width: calc(100% / 3 - 5rem);
    margin: 2.5rem;
  }

  &-move { transition: all 550ms cb() }
  &-enter-active { transition: all 325ms cb(out) 175ms }
  &-appear-enter-active { transition: all 275ms cb(out) 200ms }

  &-leave-active {
    transition: all 225ms cb(in);
    position: absolute;
    z-index: -1;
  }

  &-enter,
  &-leave-to,
  &-appear-enter {
    opacity: 0;
    transform: translate3d(0, -2.5rem, 0);
  }

  &__figure {
    position: relative;
    padding-top: 140%;
    transition: padding-top 275ms cb(out);
    @include bgCover;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 33%;
      background-image: linear-gradient(to bottom, cc(shadow, .33), transparent);
    }

    &--mobile {
      padding-top: 90%;
    }
  }

  &__details {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__title {
    @extend %txt--preview;
    display: block;
    height: 100%;
    padding: .75rem;
    color: cc(txt, inv);
    background-color: cc(shadow, 0);
    transition: background-color 225ms cb();

    .preview__figure--mobile &,
    &:hover {
      background-color: cc(shadow, .65);
    }

    @media (--monitor) {
      padding-right: 1.5rem;
    }
  }

  &__meta {
    position: absolute;
    top: 100%;
    left: 0;
    padding: .5rem 0;
    font-size: .9rem;

    @media (--tablet) {
      white-space: nowrap;
    }
  }

  &__published::after {
    content: 'by';
    padding: 0 .25rem;
  }

  &__author {
    @extend %ff--500;
    text-decoration: underline;
    white-space: nowrap;
    font-size: .9rem;
  }
}
